<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>德仁商学院</title>
    <link rel="stylesheet" type="text/css" href="__ACSS__/main.css">
    <link rel="stylesheet" href="__ACSS__/index.css" />
    <link rel="stylesheet" type="text/css" href="__ACSS__/font-awesome.min.css">
    
</head>

<body style="overflow:hidden">

    <!-- header bar -->
    <div class="header_bar pl20 pr20">

        <!-- logo -->
        <img src="__AIMG__/logo.png" alt="Oops!" height="28px" class="vm">

        <!-- administrator's head -->
        <div class="admin_head" status="0">

            <div class="sign_out trans logout">
                退出
            </div>
            
            <div class="sign_out trans modify_psd">
                修改密码
            </div>
            
            
        </div>

    </div>

    <!-- side menu -->
    <div class="side_menu l">
        <div class="handler">
            <strong class="pl15">Menu</strong>
            <i class="fa fa-arrow-left r trans" status="1"></i>
        </div>
        <!-- 展开状态 -->
        <ul class="first_level" id="first_level">
            <li class="first_level_li" type="second_level" status="0" name="2">
                <i class="fa fa-paw mr10 ml15"></i>内容管理
                <i class="fa fa-caret-right r mr15" role="caret"></i>
            </li>
            <ul class="second_level">
                <li class="second_level_li">
                    <a href="{:U('Course/index')}" target="frame">
                        <i class="fa fa-paw mr10"></i>课程管理
                    </a>
                </li>
                <!-- <li class="second_level_li">
                    <a href="404.html" target="frame">
                        <i class="fa fa-paw mr10"></i>信息管理
                    </a>
                </li>
                <li class="second_level_li">
                    <a href="404.html" target="frame">
                        <i class="fa fa-paw mr10"></i>专家团队
                    </a>
                </li> -->
            </ul>
            <li class="first_level_li" type="second_level" status="0" name="2">
                <i class="fa fa-paw mr10 ml15"></i>业务管理
                <i class="fa fa-caret-right r mr15" role="caret"></i>
            </li>
            <ul class="second_level">
                <li class="second_level_li">
                    <a href="{:U('User/index')}" target="frame">
                        <i class="fa fa-paw mr10"></i>学员管理
                    </a>
                </li>
                <li class="second_level_li">
                    <a href="{:U('Order/index')}" target="frame">
                        <i class="fa fa-paw mr10"></i>订单管理
                    </a>
                </li>
            </ul>
        </ul>
        <!-- 收起状态 -->
        <ul class="first_level_shrink" id="first_level_shrink">
            <li class="first_level_shrink_li" name="1">
                <a href="{:U('dash')}" target="frame">
                    <i class="fa fa-home mr10 ml15"></i>
                </a>
            </li>

            <div class="bounding_box">
                <h3>内容管理</h3>
                <ul class="second_level">
                    <li class="second_level_li">
                        <a href="{:U('Course/course')}" target="frame">
                            <i class="fa fa-paw mr10"></i>课程管理
                        </a>
                    </li>
                    <li class="second_level_li">
                        <a href="404.html" target="frame">
                            <i class="fa fa-paw mr10"></i>信息管理
                        </a>
                    </li>
                    <li class="second_level_li">
                        <a href="404.html" target="frame">
                            <i class="fa fa-paw mr10"></i>专家团队
                        </a>
                    </li>
                </ul>
            </div>
            <li class="first_level_shrink_li" name="2">
                <i class="fa fa-paw mr10 ml15"></i>
            </li>
            <div class="bounding_box">
                <h3>业务管理</h3>
                <ul class="second_level">
                    <li class="second_level_li">
                        <a href="{:U('User/index')}" target="frame">
                            <i class="fa fa-paw mr10"></i>学员管理
                        </a>
                    </li>
                    <li class="second_level_li">
                        <a href="{:U('Order/index')}" target="frame">
                            <i class="fa fa-paw mr10"></i>订单管理
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <!-- body -->
    <div class="body_container r">

        <!-- frame container -->
        <div class="frame_container">
            <iframe src="{:U('Course/index')}" name="frame" width="100%" id="iframe" frameborder="0"></iframe>
        </div>

    </div>
    
    <div class="hint">
        <div class="hintback"></div>
        <div class="hintmain">
            <p></p>
        </div>
    </div>

    <div class="modal">
        <div class="back"></div>
        <div class="psd_modal_main_edit">
            <h2>安全设置</h2>

            <div class="m_m_video">
                <p>
                    <span class="w120 inline-block f_s20 texy_a_r mr20">旧密码</span>
                    <input type="password" class="w200 oldpass">
                </p>
                <p>
                    <span class="w120 inline-block f_s20 texy_a_r mr20">新密码</span>
                    <input type="password" class="w200 pass">
                </p>
                <p>
                    <span class="w120 inline-block f_s20 texy_a_r mr20">确认新密码</span>
                    <input type="password" class="w200 repass">
                </p>
            </div>

            <span class="pointer border-r f_s20 psdsave">保存</span>
            <span class="pointer f_s20 psdcancel">取消</span>
        </div>

    </div>

    <script src="__AJS__/jquery.js"></script>
    <script src="__AJS__/require.js" data-main="__AJS__/main"></script>
    <script>
        'use strict';
        var psdbox      = document.querySelector('.modify_psd'),
            modal       = document.querySelector('.modal'),
            modal_main  = document.querySelector('.psd_modal_main_edit'),
            cancel      = document.querySelector('.psdcancel'),
            save        = document.querySelector('.psdsave'),
            back        = document.querySelector('.back');

        psdbox.onclick = function () {
            modal.style.display = "block";
            modal_main.style.display = "block";
        }
        back.onclick = function () {
            modal.style.display = "none";
        }
        cancel.onclick = function () {
            modal.style.display = "none";
        }
        save.onclick = function () {
            modal.style.display = "none";
            //to do
        }
        /*修改密码*/
        $('.psdsave').click(function(){
            var oldpass =  $('.oldpass').val();
            var pass = $('.pass').val();
            var repass = $('.repass').val();
            if(pass == repass && pass){
                $.post('{:U('Index/savepass')}',{pass:pass},function(data){
                    if (data.status) {
                        $('.hint').show();
                        $('.hint p').text('修改成功');
                        setTimeout(function () {
                        $('.hint').hide();
                        }, 2000);
                    } else {
                        $('.hint').show();
                        $('.hint p').text('两次密码不一致或不能为空');
                        setTimeout(function () {
                        $('.hint').hide();
                        }, 2000);
                        
                    }
                })
            }
        });
        /*退出*/
        $(function () {
            $('.logout').click(function () {
                $.post('{:U("index/tuichu")}',{},function () {
                    window.location.reload();
                });
            });
        })
    </script>
</body>

</html>