<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <link rel="stylesheet" href="__ACSS__/main.css">
    <link rel="stylesheet" href="__ACSS__/index.css" />
    <link rel="stylesheet" type="text/css" href="__ACSS__/font-awesome.min.css">
</head>

<body class="bf2">

    <!-- sub nav -->
    <div class="sub_nav pl20 pt10">
        <span class="route">
            <a href="dash.html" target="frame"><i class="fa fa-home fa-lg"></a></i>
            <span class="slashes slashes1 ml8 mr8 rel"></span>
        <span class="router router1">业务管理/学员管理</span>
        </span>
    </div>

    <section class="widget_wrp">


        <!-- 表格主体 -->
        <table class="table_default">
            <tr>
                <th width="10%">
                    <input type="checkbox" class="checkall">
                </th>
                <th width="17%">头像</th>
                <th width="14%">昵称</th>
                <th width="14%">性别</th>
                <th width="14%">电话</th>
                <th width="17%">登录时间</th>
                <th width="14%">状态</th>
                <!--                <th width="15%">操作</th>-->
            </tr>
            <foreach name="users" item="v">
                <tr>
                    <td>
                        <input type="checkbox" id="{$v.id}" value="{$v.id}">
                    </td>
                    <td><img src="__UPFILE__/{$v.user_photo}" height="60px" class="mt8 mb8"></td>
                    <td>{$v.username}</td>
                    <td>
                        <!--                    {$v.sex}-->
                        <if condition="$v.sex eq 1">男
                            <elseif condition="$v.sex eq 0" />女
                            <else />
                        </if>

                    </td>
                    <td>{$v.user_mobi}</td>
                    <td>{$v.logintime}</td>
                    <td>
                        <if condition="$v.status eq 0">启用
                            <else />停用
                        </if>
                    </td>
                    <!--                    <td>详情</td>-->
                </tr>
            </foreach>
        </table>

        <!-- 尾部 -->
        <div class="table_footer mb30">
            <div class="operate_btn_box">
                <input type="button" class="button btn_middle btn_primary trans pointer enable" value="启用">
                <input type="button" class="button btn_middle btn_primary trans pointer disable" value="停用">
                <input type="button" class="button btn_middle btn_primary trans pointer delete" value="删除">
                <input type="button" class="button btn_middle btn_primary trans pointer output_xls" value="导出excel表格">
                <input type="button" class="button btn_middle btn_primary trans pointer reset_psd" value="回复初始密码">
            </div>
            <div class="pagination mr30" name="page">
                {$page}
            </div>
        </div>
    </section>

    <div class="modal">
        <div class="back"></div>
        <div class="modal_main_edit">
            <h2>编辑课节</h2>

            <div class="m_m_video">
                <p><span></span>
                    <input type="text">
                </p>
                <p>
                    <span></span>
                    <input type="text" class="w80">
                    <span class=""></span>
                    <input type="text" class="w80">
                </p>
                <p><span></span><span></span><span class=""></span></p>
            </div>

            <div class="m_m_offline">
                <p><span></span>
                    <input type="text">
                </p>
                <p><span></span>
                    <input type="text" id="startTime" class="am-form-field w250" data-am-datepicker>
                </p>
            </div>

            <div class="m_m_audio">
                <p><span></span>
                    <input type="text">
                </p>
                <p>
                    <span></span>
                    <input type="text" class="w80">
                    <span class=""></span>
                    <input type="text" class="w80">
                </p>
                <p><span></span><span></span><span class=""></span></p>
                <p><span></span></p>
            </div>

            <span>保存</span><span>取消</span>
        </div>


        <!--        table底部三个按钮-->
        <div class="modal_main_three">
            <p></p>
            <div>
                <span class="cancel">取消</span>
                <span class="confirm">确认</span>
            </div>
        </div>

        <div class="modal_add_course">
            <div class="top">
                <span>选择课程分类：</span>
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <div class="bottom">
                <span class="cancel">取消</span>
                <span class="confirm">确认</span>
            </div>
        </div>
        <div class="modal_mian_add">
            <h2></h2>

            <div class="add_audio">
                <p><span></span>
                    <input type="text">
                </p>
                <p>
                    <span></span>
                    <input type="text" class="w80">
                    <span class=""></span>
                    <input type="text" class="w80">
                </p>
                <p>
                    <span></span>
                    <input type="file" class="w80">
                </p>
                <p>
                    <span></span>
                    <input type="file" class="w80">
                </p>
            </div>

            <div class="add_video">
                <p><span></span>
                    <input type="text">
                </p>
                <p>
                    <span></span>
                    <input type="text" class="w80">
                    <span class=""></span>
                    <input type="text" class="w80">
                </p>
                <p>
                    <span></span>
                    <input type="file" class="w80">
                </p>
            </div>

            <div class="add_offline">
                <p><span></span>
                    <input type="text">
                </p>
                <p><span></span>
                    <input type="text" id="startTime" class="am-form-field w250" data-am-datepicker>
                </p>
            </div>

            <div><span></span><span></span></div>
        </div>
    </div>

    <div class="hint">
        <!--        <div class="hintback"></div>-->
        <div class="hintmain">
            <p></p>
        </div>
    </div>

    <script src="__AJS__/jquery.js"></script>
    <script src="__AJS__/jquery.easing.js"></script>
    <script src="__AJS__/deleconfirm.js"></script>
    <script>
        $(function () {
            $('.checkall').click(function () {
                this_ = $(this);
                if (this_.prop('checked')) {
                    this_.parents('tr').siblings('tr').find('td:eq(0)>input[type="checkbox"]').prop("checked", true);
                } else {
                    this_.parents('tr').siblings('tr').find('td:eq(0)>input[type="checkbox"]').prop("checked", false);
                }
            })

            //enable operation
            $('.enable').click(function () {
                'use strict';
                $('.hint').show();
                $('.hintmain').show();
                $('.hintmain>p').text('操作成功!');
                setTimeout(function () {
                    $('.hint').hide();
                }, 1000);
                let id = [],
                    tid = $('td>input[type="checkbox"]:checked');
                tid.each(function () {
                    id.push(parseInt($(this).attr('id')));
                });
                $.post('{:U("Admin/User/statusUsing")}', {
                    id: id
                }, function (data) {
                    if (data.status) {
                        setTimeout(function () {
                            $('.hint').hide();
                            window.location.reload();
                        }, 1000)
                    }
                });
            })

            //disable operation
            $('.disable').click(function () {
                'use strict';
                $('.hint').show();
                $('.hintmain').show();
                $('.hintmain>p').text('操作成功!');
                setTimeout(function () {
                    $('.hint').hide();
                }, 1000);
                let id = [],
                    tid = $('td>input[type="checkbox"]:checked');
                tid.each(function () {
                    id.push(parseInt($(this).attr('id')));
                });
                $.post('{:U("Admin/User/statusStop")}', {
                    id: id
                }, function (data) {
                    if (data.status) {
                        setTimeout(function () {
                            $('.hint').hide();
                            window.location.reload();
                        }, 1000)
                    }
                });
            })

            //delete operation
            $('.delete').click(function () {
                'use strict';
                $('.hint').show();
                $('.hintmain').show();
                $('.hintmain>p').text('操作成功!');
                setTimeout(function () {
                    $('.hint').hide();
                }, 1000);
                let id = [],
                    tid = $('td>input[type="checkbox"]:checked');
                tid.each(function () {
                    id.push(parseInt($(this).attr('id')));
                });
                $.post('{:U("Admin/User/deleteUser")}', {
                    id: id
                }, function (data) {
                    if (data.status) {
                        setTimeout(function () {
                            $('.hint').hide();
                            window.location.reload();
                        }, 1000)
                    }
                });
            })

            //reset_psd operation
            $('.reset_psd').click(function () {
                'use strict';
                //                $('.hint').show();
                //                $('.hintmain').show();
                //                $('.hintmain>p').text('操作成功!');
                setTimeout(function () {
                    $('.hint').hide();
                }, 1000);
                let id = [],
                    tid = $('td>input[type="checkbox"]:checked');
                tid.each(function () {
                    id.push(parseInt($(this).attr('id')));
                });
                $.post('{:U("Admin/User/rpassword")}', {
                    id: id
                }, function (data) {
                    if (data.status) {
                        setTimeout(function () {
                            //                            $('.hint').hide();
                            window.location.reload();
                        }, 1000)
                    }
                });
            })
        })

       

        let modal_main_three_cancel = document.querySelector('.modal_main_three').querySelector('div').querySelector('.cancel'),
            modal_main_three_confirm = document.querySelector('.modal_main_three').querySelector('div').querySelector('.confirm');

        modal_main_three_cancel.onclick = function () {
            modal.style.display = 'none';
            three_box.style.display = 'none'
        }
        modal_main_three_confirm.onclick = function () {
            //to do
        }
    </script>
</body>

</html>