<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<link rel="stylesheet" href="__ACSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__ACSS__/font-awesome.min.css">
</head>
<body class="bf2">

    <!-- sub nav -->
    <div class="sub_nav pl20 pt10">
        <span class="route">
            <a href="dash.html" target="frame"><i class="fa fa-home fa-lg"></a></i>
            <span class="slashes slashes1 ml8 mr8 rel"></span>
            <span class="router router1">组件库</span>              
        </span>         
    </div>

	<section class="widget_wrp">
		<h2>按钮</h2>
		<input type="button" class="button btn_middle btn_primary trans pointer" value="普通样式中">
		<input type="button" class="button btn_large btn_primary trans pointer" value="普通样式大">
	</section>

	<section class="widget_wrp">
		<h2>表格</h2>
        <!-- 头部 -->
        <div class="table_header mt30">
        	<!-- 下拉列表组件 -->
        	<span class="select_wrap ml30 mt15 dib">
        		<span>按职位：</span>
        		<select class="ipt_default btn_large">
        			<option>产品经理</option>
        			<option>UI设计师</option>
        			<option>前端工程师</option>
        			<option>后端工程师</option>
        		</select>
        		<i class="fa fa-caret-down"></i>
        	</span>
        	<span class="select_wrap ml10 mt15 dib">
        		<span>按难度：</span>
        		<select class="ipt_default btn_middle">
        			<option>易</option>
        			<option>中</option>
        			<option>难</option>
        		</select>
        		<i class="fa fa-caret-down"></i>
        	</span>
      		<!-- 按钮 -->
      		<a href="">
      			<input type="button" class="button btn_middle btn_primary r mr30 mt15 pointer" value="+添加">
      		</a>   	
        	<!-- 搜索栏组件 -->
        	<div class="input_wrap r mt15 mr10">
        		<input type="text" class="ipt_default trans pl6" placeholder="请输入标题名称">
        		<span class="button btn_small btn_primary vt pointer">
        			<i class="fa fa-search"></i>
        		</span>
        	</div>
        </div>

        <!-- 表格主体 -->
    	<table class="table_default">
    		<tr>
    			<th width="10%">封面</th>
    			<th width="15%">标题</th>
    			<th width="12%">作者</th>
    			<th width="12%">分类</th>
    			<th width="12%">难度</th>
    			<th width="12%">喜欢</th>
    			<th width="12%">时间</th>
    			<th width="15%">操作</th>
    		</tr>
    		<tr class="h150">
    			<td><img src="__AIMG__/4.png" height="60px" class="mt8 mb8"></td>
    			<td class="title_a pl10 pr10">
    				<!-- 此处链接到组件的前端页面 -->
    				<a href="">点赞特效组件</a>
    			</td>
    			<td>
    				<div class="thumb_head bg dib vm mr2 ml2 rel" style="background-image:url(__AIMG__/head.png)">
    					<div class="editor_tip">
    						<span class="ell dib">kidney</span>
    						<div class="indicator_bottom abs"></div>
    					</div>
    				</div>
    			</td>
    			<td>产品</td>
    			<td>
    				<i class="fa fa-star"></i>
    			</td>
    			<td>4</td>			
    			<td>2016-8-9</td>
    			<td class="operation">
    				<a href="" class="mr2 edit">
    					<i class="fa fa-edit vm"></i>
    					编辑					
    				</a>
    				<span class="ccc">|</span>
    				<span class="pointer ml2 remove">
    					<i class="fa fa-trash vm"></i>
    					删除
    				</span>	
                    <!-- 删除提示 -->
                    <div class="deleConfirm">
                        <p>Are You Sure?</p>
                        <span class="mbutton trans confirm"><i class="fa fa-check mr4"></i>确认</span>
                        <span class="mbutton trans cancel"><i class="fa fa-times mr4"></i>取消</span>
                    </div>							
    			</td>
    		</tr>
    		<tr>
    			<td><img src="__AIMG__/4.png" height="60px" class="mt8 mb8"></td>
    			<td class="title_a pl10 pr10">
    				<!-- 此处链接到组件的前端页面 -->
    				<a href="">点赞特效组件</a>
    			</td>
    			<td>
    				<div class="thumb_head bg dib vm mr2 ml2 rel" style="background-image:url(__AIMG__/head.png)">
    					<div class="editor_tip">
    						<span class="ell dib">kidney</span>
    						<div class="indicator_bottom abs"></div>
    					</div>
    				</div>
    			</td>
    			<td>产品</td>
    			<td>
    				<i class="fa fa-star"></i>
    			</td>
    			<td>4</td>			
    			<td>2016-8-9</td>
    			<td class="operation">
    				<a href="" class="mr2 edit">
    					<i class="fa fa-edit vm"></i>
    					编辑					
    				</a>
    				<span class="ccc">|</span>
    				<span class="pointer ml2 remove">
    					<i class="fa fa-trash vm"></i>
    					删除
    				</span>								
    			</td>
    		</tr>
    		<tr>
    			<td><img src="__AIMG__/4.png" height="60px" class="mt8 mb8"></td>
    			<td class="title_a pl10 pr10">
    				<!-- 此处链接到组件的前端页面 -->
    				<a href="">点赞特效组件</a>
    			</td>
    			<td>
    				<div class="thumb_head bg dib vm mr2 ml2 rel" style="background-image:url(__AIMG__/head.png)">
    					<div class="editor_tip">
    						<span class="ell dib">kidney</span>
    						<div class="indicator_bottom abs"></div>
    					</div>
    				</div>
    			</td>
    			<td>产品</td>
    			<td>
    				<i class="fa fa-star"></i>
    			</td>
    			<td>4</td>			
    			<td>2016-8-9</td>
    			<td class="operation">
    				<a href="" class="mr2 edit">
    					<i class="fa fa-edit vm"></i>
    					编辑					
    				</a>
    				<span class="ccc">|</span>
    				<span class="pointer ml2 remove">
    					<i class="fa fa-trash vm"></i>
    					删除
    				</span>								
    			</td>
    		</tr>   			
    	</table>

    	<!-- 尾部 -->
    	<div class="table_footer mb30">
    		<!-- 条目数量 -->
    		<span class="num_of_item ml30">每页10项，共计
    			<span>8</span>
    			项
    		</span>	
    		<!-- 分页 -->
    		<div class="pagination mr30">
    			<span class="pagination_item pagination_item_on">1</span>
    			<span class="pagination_item">2</span>
    			<span class="pagination_item">3</span>
    			<span class="pagination_item">4</span>
    			<span class="pagination_item">5</span>
    			<span class="pagination_item">6</span>
    			<span class="pagination_item">7</span>
    		</div>
    	</div>
	</section>


<script src="__AJS__/jquery.js"></script>
<script src="__AJS__/jquery.easing.js"></script>
<script src="__AJS__/deleconfirm.js"></script> 		
</body>
</html>