<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="">
	<title></title>
</head>
<body>
	

	<button id="callpay">立即支付</button>

	<script type="text/javascript" src=""></script>
	<script type="text/javascript">
	$(window).ready(function () {
        var successUrl =  "{:U('successurl')}";
        function jsApiCall() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
                function(res){
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        /* 跳转成功提示页面 */
                        window.location.href = successUrl;
                    }
                }
            );
        }
        $('#callpay').click(function () {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        });
    });
	</script>
</body>
</html>