.alt-imgarea span {
    display: block;
    width: 60%;
    height: 60%;
    position: relative;
    cursor: pointer;
}
.alt-imgarea {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    border: #efefef solid 1px;
    background-position: center;
    background-size: cover;
}

.hide {
	display: none;
}