<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>音频课列表</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body class="bfa pt50">

	<!-- 导航栏 -->
	<div class="weui_navbar">
        <a href="offlinelist.html" class="weui_navbar_item">
        	<img src="__IMG__/xianxiakehui.svg" width="16px" class="vm mr2">
            线下课
        </a>
        <a href="videolist.html" class="weui_navbar_item">
        	<img src="__IMG__/shipinkehui.svg" width="16px" class="vm mr2">
            视频课
        </a>
        <a href="audiolist.html" class="weui_navbar_item bar_item_on">
        	<img src="__IMG__/yinpinkebai.svg" width="16px" class="vm mr2">
            音频课
        </a>
    </div>

    <!-- 音频课 -->
	<div class="course_item">
		<!-- 图片 -->
		<div class="left">
			<div class="thumb_lg bg rel" style="background-image:url(__IMG__/thumb.jpg)">
				<a href="" class="a-mask"></a>
			</div>
		</div>
		<!-- 信息 -->
		<div class="right">
			<div class="rel">
				<a href="" class="a-mask"></a>
				<p class="ell f18">思维口才dfgdrhgrdhtdrhtrdhdhdth</p>
				<p class="mt-3">
					<span class="f888 leftspan">
						<img src="__IMG__/laoshi.svg" width="14px" class="vm mr2">
						王老师
					</span>
					<span class="f888">
						<img src="__IMG__/keci.svg" width="14px" class="vm mr2">
						10节
					</span>
				</p>
				<p class="mt-3">
					<span class="f888 leftspan">
						<img src="__IMG__/shichang.svg" width="14px" class="vm mr2">
						3时15分
					</span>
					<span class="f888">
						<img src="__IMG__/yinpinkexiao.svg" width="14px" class="vm mr2">
						音频课
					</span>
				</p>
			</div>
			<p>
				<strong class="f18 red">￥999</strong>
				<a href="" class="button btn_primary r">立即购买</a>
			</p>
		</div>
	</div>
	<!-- 音频课 -->
	<div class="course_item">
		<!-- 图片 -->
		<div class="left">
			<div class="thumb_lg bg rel" style="background-image:url(__IMG__/thumb.jpg)">
				<a href="" class="a-mask"></a>
			</div>
		</div>
		<!-- 信息 -->
		<div class="right">
			<div class="rel">
				<a href="" class="a-mask"></a>
				<p class="ell f18">思维口才dfgdrhgrdhtdrhtrdhdhdth</p>
				<p class="mt-3">
					<span class="f888 leftspan">
						<img src="__IMG__/laoshi.svg" width="14px" class="vm mr2">
						王老师
					</span>
					<span class="f888">
						<img src="__IMG__/keci.svg" width="14px" class="vm mr2">
						10节
					</span>
				</p>
				<p class="mt-3">
					<span class="f888 leftspan">
						<img src="__IMG__/shichang.svg" width="14px" class="vm mr2">
						3时15分
					</span>
					<span class="f888">
						<img src="__IMG__/yinpinkexiao.svg" width="14px" class="vm mr2">
						音频课
					</span>
				</p>
			</div>
			<p>
				<strong class="f18 red">￥999</strong>
				<a href="" class="button btn_empty r">立即购买</a>
			</p>
		</div>
	</div>

	<!-- 用户中心按钮 -->
	<!-- 未登录前跳转到登录页面 -->
	<a class="btn_user" >
		<img src="__IMG__/wode.svg" width="36px">
	</a>
	
</body>
</html>