<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>音频课详情</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body>
	
	<div class='weui_cells_title'>
		确认交易信息
	</div>
	<div class="weui_cells">
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</p>
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>手机号码：</p>
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>课程名称：</p>
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>支付价格：</p>
			</div>
		</div>
	</div>

	<div class="pl15 pr15 mt20">
		<a class="weui_btn weui_btn_warn" style="background-color: #B7469D">
			立即支付
		</a>
		<a class="weui_btn weui_btn_warn" style="background-color: #fff;color:#B7469D;border:1px solid #B7469D" onclick="goBack()">
			返回
		</a>
	</div>
<script>
	function goBack(){
		window.history.go(-1);
	}
</script>
</body>
</html>