<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>入口提示页</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
</head>
<body class="tc">

	<img src="__IMG__/erweima.jpg" width="180px" class="erweima">

	<div class="entry_info">
		<p>对不起，请在微信公众号中打开链接</p>
		<p>您可以通过扫描上方二维码关注微信号</p>
		<p>或者在微信公众号中搜索“德仁微课”点击关注</p>
	</div>
	
</body>
</html>