<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>返回课程</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body>
	<!-- 占位 -->
	<div class="mt30"></div>

	<div class="weui_msg">
		<div class="weui_icon_area">
			<i class="weui_icon_success weui_icon_msg"></i>
		</div>
		<div class="weui_text_area">
			<p class="f24 mb20">支付成功</p>
			<p>
				<span class="daojishi">3</span>
				秒后跳转至课程详情页
				<a href="{$showurl}" class="purple ml15">立即前往</a>
			</p>
		</div>
	</div>

<script>
(function(){
	var sec = document.querySelector(".daojishi")
	setTimeout(function(){
		sec.textContent = 2;
	},1000);
	setTimeout(function(){
		sec.textContent = 1;
	},2000);
	setTimeout(function(){
		sec.textContent = 0;
		window.location.href = "{$showurl}";
	},3000)		
})();
</script>	
</body>
</html>