<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>全部课程</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body class="bfa pt50">

	<!-- 导航栏 -->
	<div class="weui_navbar">
        <div class="weui_navbar_item">
        	<img src="__IMG__/xianxiakehui.svg" width="16px" class="vm mr2">
            线下课
        </div>
        <div class="weui_navbar_item">
        	<img src="__IMG__/shipinkehui.svg" width="16px" class="vm mr2">
            视频课
        </div>
        <div class="weui_navbar_item">
        	<img src="__IMG__/yinpinkehui.svg" width="16px" class="vm mr2">
            音频课
        </div>
    </div>

	<!-- 线下课 -->
	<div class="course_item">
		<!-- 图片 -->
		<div class="left">
			<div class="thumb_lg bg" style="background-image:url(__IMG__/thumb.jpg)"></div>
		</div>
		<!-- 信息 -->
		<div class="right">
			<p class="ell f20">思维口才</p>
			<p>
				<span class="f888 leftspan">
					<img src="__IMG__/laoshi.svg" width="16px" class="vm mr2">
					王老师
				</span>
				<span class="f888">
					<img src="__IMG__/keci.svg" width="16px" class="vm mr2">
					10节
				</span>
			</p>
			<p>
				<span class="f888 leftspan">
					<img src="__IMG__/riqi.svg" width="16px" class="vm mr2">
					2016-6-8
				</span>
				<span class="f888">
					<img src="__IMG__/xianxiakexiao.svg" width="16px" class="vm mr2">
					线下课
				</span>
			</p>
		</div>
	</div>

	
</body>
</html>