<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>全部课程</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body class="bfa pt50">

	<!-- 导航栏 -->
	<div class="weui_navbar">
        <a href="{:U('offlinelist')}" class="weui_navbar_item">
        	<img src="__IMG__/xianxiakehui.svg" width="16px" class="vm mr2">
            线下课
        </a>
        <a href="{:U('videolist')}" class="weui_navbar_item">
        	<img src="__IMG__/shipinkehui.svg" width="16px" class="vm mr2">
            视频课
        </a>
        <a href="{:U('audiolist')}" class="weui_navbar_item">
        	<img src="__IMG__/yinpinkehui.svg" width="16px" class="vm mr2">
            音频课
        </a>
    </div>

	<foreach name="course" item="val">
		<switch name="val.type">
			<case value="1">
				<!-- 线下课 -->
				<div class="course_item">
					<!-- 图片 -->
					<div class="left">
						<div class="thumb_lg bg rel"
						style="background-image:url(__UPFILE__/{$val.course_photo})">
							<a href="{:U('offline', array('id' => $val['id']))}" class="a-mask"></a>
						</div>
					</div>
					<!-- 信息 -->
					<div class="right">
						<div class="rel">
							<a href="{:U('offline', array('id' => $val['id']))}" class="a-mask"></a>
							<p class="ell f18">{$val.course_name}</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/laoshi.svg" width="14px" class="vm mr2">
									{$val.teach_name}
								</span>
								<span class="f888">
									<img src="__IMG__/keci.svg" width="14px" class="vm mr2">
									{$val.class_num}节
								</span>
							</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/riqi.svg" width="14px" class="vm mr2">
									{$val.class_time}
								</span>
								<span class="f888">
									<img src="__IMG__/xianxiakexiao.svg" width="14px" class="vm mr2">
									线下课
								</span>
							</p>
						</div>
						<p>
							<strong class="f18 red">¥{$val.current_price}</strong>
							<del class="f999 ml8 f14">¥{$val.course_price}</del>
							<if condition="$val['status']">
								<a href="{:U('offline', array('id' => $val['id']))}" class="button btn_empty r">立即观看</a>
							<else/>
								<a href="{:U('Index/order', array('id' => $val['id']))}" class="button btn_primary r">立即购买</a>
							</if>
						</p>
					</div>
				</div>
			</case>
			<case value="2">
				<!-- 视频课 -->
				<div class="course_item">
					<!-- 图片 -->
					<div class="left">
						<div class="thumb_lg bg rel" style="background-image:url(__UPFILE__/{$val.course_photo})">
							<a href="{:U('video', array('id' => $val['id']))}" class="a-mask"></a>
						</div>
					</div>
					<!-- 信息 -->
					<div class="right">
						<div class="rel">
							<a href="{:U('video', array('id' => $val['id']))}" class="a-mask"></a>
							<p class="ell f18">{$val.course_name}</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/laoshi.svg" width="14px" class="vm mr2">
									{$val.teach_name}
								</span>
								<span class="f888">
									<img src="__IMG__/keci.svg" width="14px" class="vm mr2">
									{$val.class_num}节
								</span>
							</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/shichang.svg" width="14px" class="vm mr2">
									{$val.class_time}
								</span>
								<span class="f888">
									<img src="__IMG__/shipinkexiao.svg" width="14px" class="vm mr2">
									视频课
								</span>
							</p>
						</div>
						<p>
							<strong class="f18 red">¥{$val.current_price}</strong>
							<del class="f999 ml8 f14">¥{$val.course_price}</del>
							<if condition="$val['status']">
								<a href="{:U('video', array('id' => $val['id']))}" class="button btn_empty r">立即观看</a>
							<else/>
								<a href="{:U('Index/order', array('id' => $val['id']))}" class="button btn_primary r">立即购买</a>
							</if>
						</p>
					</div>
				</div>
			</case>
			<case value="3">
				<!-- 音频课 -->
				<div class="course_item">
					<!-- 图片 -->
					<div class="left">
						<div class="thumb_lg bg rel" style="background-image:url(__UPFILE__/{$val.course_photo})">
							<a href="{:U('audio', array('id' => $val['id']))}" class="a-mask"></a>
						</div>
					</div>
					<!-- 信息 -->
					<div class="right">
						<div class="rel">
							<a href="{:U('audio', array('id' => $val['id']))}" class="a-mask"></a>
							<p class="ell f18">{$val.course_name}</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/laoshi.svg" width="14px" class="vm mr2">
									{$val.teach_name}
								</span>
								<span class="f888">
									<img src="__IMG__/keci.svg" width="14px" class="vm mr2">
									{$val.class_num}节
								</span>
							</p>
							<p class="mt-3">
								<span class="f888 leftspan">
									<img src="__IMG__/shichang.svg" width="14px" class="vm mr2">
									{$val.class_time}
								</span>
								<span class="f888">
									<img src="__IMG__/yinpinkexiao.svg" width="14px" class="vm mr2">
									音频课
								</span>
							</p>
						</div>
						<p>
							<strong class="f18 red">¥{$val.current_price}</strong>
							<del class="f999 ml8 f14">¥{$val.course_price}</del>
							<if condition="$val['status']">
								<a href="{:U('audio', array('id' => $val['id']))}" class="button btn_empty r">立即观看</a>
							<else/>
								<a href="{:U('Index/order', array('id' => $val['id']))}" class="button btn_primary r">立即购买</a>
							</if>
						</p>
					</div>
				</div>
			</case>
		</switch>
	</foreach>

	<!-- 用户中心按钮 -->
	<!-- 未登录前跳转到登录页面 -->
	<if condition="$login">
		<a href="{:U('user')}" class="btn_user" >
			<img src="__IMG__/wode.svg" width="36px">
		</a>
	<else/>
		<a href="{:U('login')}" class="btn_user" >
			<img src="__IMG__/wode.svg" width="36px">
		</a>
	</if>

	
</body>
</html>