<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>线下课详情</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body>

	<!-- 课程内容 -->
	<div class="content_wrap">
		<div class="poster bg" style="background-image:url(__UPFILE__/{$course.offline_url})"></div>
		<div class="mt8 mb8 pl10 pr10">
			<span class="f18">{$course.course_name}</span>
			<strong class="red f18 dib r">￥{$course.current_price}</strong>
		</div>
	</div>

	<!-- 课程信息 -->
	<div class="info_container">
		<!-- 标签 -->
		<div class="tab_nav_box">
			<div class="tab_nav_item tab_nav_item_on" name="1">
				<i class="bg jianjie"></i>
				课程简介
			</div><!-- 用于清除inlineblock之间的空隙
			--><div class="tab_nav_item" name="2">
				<i class="bg kebiao"></i>
				课程表
			</div>
		</div>
		<!-- 标签页 -->
		<div class="tab_container">
			<!-- 简介 -->
			<div class="tab_content pb80" role="1">
				<p>此处信息由后台编辑上传</p>
			</div>
			<!-- 课表 -->
			<div class="tab_content pb80" role="2">
				<div class="timetable">
					<div class="left">
						<div class="xuhao">1</div>
					</div>
					<div class="right">
						<p>您把防溺水你的份上v的快女</p>
						<p>上课时间：2016-6-8 4:00</p>
					</div>
				</div>
				<div class="timetable">
					<div class="left">
						<div class="xuhao">2</div>
					</div>
					<div class="right">
						<p>您把防溺水你的份上v的快女</p>
						<p>上课时间：2016-6-8 4:00</p>
					</div>
				</div>
				<div class="timetable">
					<div class="left">
						<div class="xuhao">3</div>
					</div>
					<div class="right">
						<p>您把防溺水你的份上v的快女</p>
						<p>上课时间：2016-6-8 4:00</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 购买按钮 在已购买状态下隐藏此按钮 -->
	<if condition="$course['status']">
	<else/>
	<div class="weui_btn_area btn_fixed">
		<a href="{:U('Index/order', array('id' => $val['id']))}" class="weui_btn weui_btn_primary">立即购买
		</a>
	</div>
	</if>

<script src="__JS__/jquery.js"></script>
<script src="__JS__/main.js"></script>
</body>
</html>