<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>修改密码</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body class="bfa">

	<div class="weui_cells_title">修改密码</div>
	<div class="weui_cells weui_cells_form">
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">
					<img src="__IMG__/shoujihao.svg" width="16px" class="vm mr2">
					手机号
				</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" type="tel" placeholder="请输入手机号" id="phone">
			</div>
			<div class="weui_cell_ft">
				<i class="weui_icon_warn" id="phone_w"></i>
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">
					<img src="__IMG__/yanzhengma.svg" width="16px" class="vm mr2">
					验证码
				</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" type="text" placeholder="请输入验证码" id="validate">
			</div>
			<div class="weui_cell_ft vali_wrap">
				<i class="weui_icon_warn l" id="validate_w"></i>
				<input type="button" class="getValidate" onclick="getValidation()" value="获取验证码" id="btnValidate">
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">
					<img src="__IMG__/mima.svg" width="16px" class="vm mr2">
					新密码
				</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" type="password" placeholder="请输入密码" id="password">
			</div>
			<div class="weui_cell_ft">
				<i class="weui_icon_warn" id="password_w"></i>
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">
					<img src="__IMG__/mima.svg" width="16px" class="vm mr2">
					重复密码
				</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" type="password" placeholder="请再次输入密码" id="repassword">
			</div>
			<div class="weui_cell_ft">
				<i class="weui_icon_warn" id="repassword_w"></i>
			</div>
		</div>
	</div>

	<!-- 1、若是从登录页面忘记密码按钮点进进入，则点击完成后，回到登录页面 -->
	<!-- 2、若是从个人中心的修改密码进入，则点击完成后回到个人中心  -->
	<div class="weui_btn_area">
		<a class="weui_btn weui_btn_primary" id="submit">完成</a>
	</div>

<script>
	var goToLogin = "{:U('gotologin')}";
	// 发送信息
	var xiugai = "{:U('Login/xiugai')}";
	// 验证手机号是否存在
	var register1 = "{:U('Login/register1')}";
	// 点击获取验证码，发送手机号
	var sms = "{:U('Login/sms')}";
	// 读取用户来自哪个页面
	var pageName = localStorage.pageName;

</script>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/repassword.js"></script>	
</body>
</html>