<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/phocus.css">
</head>
<body class="bfa">

	<div class="weui_cells">
		<div class="weui_cell">
			<div class="thumb_sm bg mr10 br4" style="background-image:url(__UPFILE__/{$user_content.user_photo})"></div>
			<div>
				<p class="f18 mb4">
                    {$user_content.username}
                    <!-- 图标表示用户性别 男nan.svg 女nv.svg -->
                    <if condition="$user_content['sex']">
                        <img src="__IMG__/nan.svg" width="16px" class="vm ml2">
                    <else/>
                        <img src="__IMG__/nv.svg" width="16px" class="vm ml2">
                    </if>
                </p>
				<p class="f16">TEL:{$user_content.user_mobi}</p>
			</div>
		</div>
	</div>

	<div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="{:U('repassword')}">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
					<img src="__IMG__/gaimima.svg" width="16px" class="vm mr4">
                	修改密码
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="{:U('renumber')}">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
					<img src="__IMG__/gaishoujihao.svg" width="16px" class="vm mr4">
                	修改手机号
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a class="weui_cell" href="{:U('index')}">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
					<img src="__IMG__/huizhuye.svg" width="16px" class="vm mr4">
                	返回首页
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
	
</body>
</html>